<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CheckMapper">

    <insert id="addCheckIn">
        insert into check_in_out (id, username, check_in_time, check_out_time, check_place, states)
values (#{id},#{username},#{check_in_time},#{check_out_time},#{check_place},#{states})

    </insert>
    <update id="CheckOut">
        update check_in_out
        set states=1,check_out_time=#{check_out_time}
        where username = #{username} and states = 0
    </update>
    <select id="selectAll" resultType="pojo.Check">
        select * from check_in_out
    </select>
    <select id="selectAlready" resultType="pojo.Check">
        select * from check_in_out where states = 0;
    </select>
    <select id="selectByName" resultType="pojo.Check">
        select * from check_in_out where username = #{username}
    </select>

</mapper>